@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
* {
  font-family: "Akaya Telivigala", cursive;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
body {
  background-image: url("./images/Think-Egypt-Giza-Sphynx-178375366-pius99-copy.jpg");
  background-color: #cccccc;
}
/* h5 {
  background-color: aqua;
} */
